# Ignore everything by default
*
!*/

# Allow specific required files/folders
!.gitignore
!README.md
!.github/
!.github/workflows/
!.github/workflows/*
!heart_disease_raw/
!heart_disease_raw/*
!preprocessing/
!preprocessing/*
!preprocessing/heart_disease_preprocessing/
!preprocessing/heart_disease_preprocessing/*

# Specifically ignore MLProject and other non-Kriteria-1 folders in this REPO
# (They stay in the ZIP but not in this specific Eksperimen repo)
MLProject/
Membangun_model/
Monitoring\ dan\ Logging/
SUBMISSION_FINAL/
SMSML_Azzar-Budiyanto.zip
